
@{
    ViewBag.Title = "AgendaEmpleados";
}

<div class="row h-100" >
    <!--Renderizado de la nav-bar-->
    @*<div id="aside" class="col-2 p-0 m-0 bg-dark">

        </div>*@
    @Html.Partial("lateralSuperior")
    @Html.Partial("lateral")


</div>

