
@{
    ViewBag.Title = "Departamentos";
}

    <div class="row h-100" ng-controller="DepartamentosCtrl as vm">
        <!--Renderizado de la nav-bar-->
        @*<div id="aside" class="col-2 p-0 m-0 bg-dark">

        </div>*@
        @Html.Partial("lateralSuperior")
        @Html.Partial("lateral")
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <div class="row" role="tablist">
                <ul class="nav nav-tabs">
                    <li class="nav-item border-bottom border-top-0 border-left-0 border-dark">
                        <a class="nav-link active text-success" target="_self" href="@Url.Action("Empleados", "Home")"><h4><i class="far fa-address-card mr-2"></i>Empleados</h4></a>
                    </li>
                    <li class="nav-item border-top border-left border-right border-dark  border-bottom-0">
                        <a class="nav-link disabled" href=""><h4><i class="far fa-building mr-2"></i>Departamentos</h4></a>
                    </li>
                </ul>


            </div>

            <div class=" mt-3">
                <form id="formDepartamentos">
                    <div class="form-row ml-3">
                        <div class="form-group mr-2">
                            <label class="font-weight-bold">Búsqueda de empleado</label>
                            <div isteven-multi-select input-model="vm.listaEmpleados.data" output-model="vm.listaEmpleados.select" button-label="nombre" item-label="nombre" tick-property="ticked" max-labels="1" selection-mode="single" on-item-click="vm.getEmpleadosFiltrados(vm.listaEmpleados.select[0].id)" on-reset="vm.getDepartamentosTabla()"></div>
                        </div>
                        <div class="form-group my-auto pt-2 ml-auto mr-4">
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><span><i class="fas fa-plus mr-2"></i></span>Nuevo Departamento </button>
                        </div>

                    </div>

                </form>
            </div>


            <!--Inicio de la tabla que muestra los resultados de la peticion-->
            <div id="table" class="container-fluid mt-4 mx-auto">

                <table class="table table-hover table-responsive" st-table="vm.lista.disp" st-safe-src="vm.lista.data" st-filtered-collection="vm.lista.filter">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" st-sort="Departamento">Departamento</th>
                            <th scope="col" class="text-center" st-sort="Nombre">Nombre</th>
                            <th scope="col" class="text-center" st-sort="Apellidos">Apellidos</th>
                            <th scope="col" class="text-center" st-sort="Correo">Correo</th>
                            <th scope="col" class="text-center" st-sort="Nombre">Acciones </th>


                        </tr>
                        <tr>
                            <td scope="col" class="text-center" st-search="Departamento"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></td>
                            <td scope="col" class="text-center" st-search="Nombre"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></td>
                            <td scope="col" class="text-center" st-search="Apellidos"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></td>
                            <td scope="col" class="text-center" st-search="Correo"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></td>
                            <td scope="col" class="text-center" st-search="Acciones">
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="empleado in vm.lista.disp">
                            <td class="text-center font-weight-bold">{{empleado.Departamento}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Nombre}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Apellidos}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Correo}}</td>
                            <td class="text-center">
                                <a href="#" class="fas fa-trash-alt text-md-left text-danger"></a>
                                <a href="#" class="fas fa-file-export text-md-left text-success"></a>
                                <a href="#" class="fas fa-list-ul text-md-left text-primary"></a>

                            </td>


                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="15" class="text-center">
                                <div st-pagination="" st-items-by-page="10"></div>

                            </td>
                        </tr>
                    </tfoot>
                </table>
                @*<button ng-click="vm.excelExport();" ng-show="vm.lista.data.length > 0" class="btn btn-dark pull-right m-l-10">Exportar <i class="glyphicon glyphicon-chevron-right"></i></button>*@
            </div>

            <!--Fin de la tabla-->

        </div>
    </div>

<!--Modal registro empleado-->
<div class="modal fade mt-5" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Formulario Registro-->
        <div class="modal-content mr-2 ml-2 mb-2">
            <div class="modal-header">
                <h4> <i class="far fa-building mr-2"></i>Departamentos</h4>
            </div>
            <form class="ml-2">
                <div class="form-group m-2">
                    <h5 class="font-weight-bold">Añadir departamento</h5>
                    <h6 class="form-text text-muted mt-3">Nombre del departamento</h6>
                    <input type="text" class="form-control mt-3 w-75 text-left" placeholder="Nombre Departamento">
                </div>

                <div class="form-row  mr-2 ml-2 mb-2">
                    <button class="btn btn-primary mt-3 " type="submit">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Fin del modal-->
