
@{
    ViewBag.Title = "Empleados";
}

<div class="row h-100" ng-controller="EmpleadosCtrl as vm">
    <!--Renderizado de la nav-bar-->
    <div id="aside" class="col-2 p-0 m-0 bg-dark">
        @Html.Partial("lateral")
    </div>
    <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
        <div class="row">
            <a class="nav-link disabled" href="" role="tab" ><h3><i class="far fa-address-card mr-2"></i>Empleados</h3></a>
            <a class="nav-link active"    target="_self" href="@Url.Action("Departamentos", "Home")"><h3><i class="far fa-building mr-2"></i>Departamentos</h3></a>

        </div>
        <!--Inicio del formulario-->
        <div class="row mx-auto ">
            <form id="formEmpleados">
                <div class="form-row ml-3">
                    <div class="form-group mr-2">
                        <label class="font-weight-bold">Busqueda de empleado</label>
                        <div isteven-multi-select input-model="" output-model="" button-label="empleado" item-label="empleado" tick-property="ticked" max-labels="1" selection-mode="single"></div>
                    </div>
                    <div class="form-group ml-2">
                        <label class="font-weight-bold">Departamento</label>
                        <div isteven-multi-select input-model="" output-model="" button-label="departamento" item-label="departamento" tick-property="ticked" max-labels="1" selection-mode="single"></div>
                    </div>
                </div>
                <div class="row ml-3">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><span><i class="fas fa-plus mr-1"></i></span>Nuevo Empleado</button>
                </div>
            </form>
        </div>
        <!--Fin Formulario-->
        <!--Inicio de la tabla que muestra los resultados de la peticion-->
        <div id="table" class="container-fluid mt-4 mx-auto">

            <table class="table  table-hover" st-table="vm.lista.disp" st-safe-src="vm.lista.data" st-filtered-collection="vm.lista.filter">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" st-sort="Nombre">Nombre</th>
                        <th scope="col" class="text-center" st-sort="Apellidos">Apellidos</th>
                        <th scope="col" class="text-center" st-sort="Departamento">Departamento</th>
                        <th scope="col" class="text-center" st-sort="Correo">Correo</th>
                        <th scope="col" class="text-center" st-sort="Vacaciones">Vacaciones</th>
                    </tr>
                    <tr>
                        <th scope="col" class="text-center" st-search="Nombre"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                        <th scope="col" class="text-center" st-search="Apellidos"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                        <th scope="col" class="text-center" st-search="Departamento"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                        <th scope="col" class="text-center" st-search="Correo"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                        <th scope="col" class="text-center" st-search="Vacaciones"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empleado in vm.lista.disp">

                        <td class="text-center font-weight-bold">{{empleado.Nombre}}</td>
                        <td class="text-center font-weight-bold">{{empleado.Apellidos}}</td>
                        <td class="text-center font-weight-bold">{{empleado.Departamento}}</td>
                        <td class="text-center font-weight-bold">{{empleado.Correo}}</td>
                        <td class="text-center font-weight-bold">{{empleado.Vacaciones}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="15" class="text-center">
                            <div st-pagination="" st-items-by-page="10"></div>

                        </td>
                    </tr>
                </tfoot>
            </table>
            @*<button ng-click="vm.excelExport();" ng-show="vm.lista.data.length > 0" class="btn btn-dark pull-right m-l-10">Exportar <i class="glyphicon glyphicon-chevron-right"></i></button>*@
        </div>

        <!--Fin de la tabla-->
    </div>
</div>

<!--Modal registro empleado-->
<div class="modal fade mt-5" id="myModal" role="dialog" ng-controller="EmpleadosCtrl as vm">
    <div class="modal-dialog">
        <!-- Modal Formulario Registro-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Formulario de registro</h4>
            </div>

            <form class="m-2" ng-submit="vm.InsertUser()">
            
                    <div class="form-group">
                        <label class="font-weight-bold">Email</label>
                        <input type="text" class="form-control" ng-model="vm.datosUser.email" placeholder="Email" required>                   
                        <label class="font-weight-bold">Tipo Usuario</label>
                        <div isteven-multi-select input-model="" output-model="" button-label="Tipo Usuario" item-label="Tipo Usuario" tick-property="ticked" max-labels="1" selection-mode="single">
                        </div>                                  
                        <button class="btn btn-primary" type="submit">Enviar Invitacion</button>                 
                       <button class="btn btn-primary"  data-dismiss="modal">Cerrar</button>
               
                </div>
                
            </form>

        </div>
    </div>
</div>
<!--Fin del modal-->