
@{
    ViewBag.Title = "Empleados";
}

    <div class="row h-100" ng-controller="EmpleadosCtrl as vm">
        <!--Renderizado de la nav-bar-->
        @*<div id="aside" class="col-2 p-0 m-0 bg-dark">

        </div>*@
        @Html.Partial("lateralSuperior")
        @Html.Partial("lateral")
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <div class="row" role="tablist">
                <ul class="nav nav-tabs">
                    <li class="nav-item border-top border-left border-right border-dark  border-bottom-0">
                        <a class="nav-link disabled" href="" role="tab"><h4><i class="far fa-address-card mr-2"></i>Empleados</h4></a>
                    </li>
                    <li class="nav-item border-bottom border-top-0 border-left-0 border-dark">
                        <a class="nav-link active text-success border-bottom-0" target="_self" href="@Url.Action("Departamentos", "Home")"><h4><i class="far fa-building mr-2"></i>Departamentos</h4></a>
                    </li>
                </ul>

            </div>
            <!--Inicio del formulario-->
            <div class="row mx-auto mt-3">
                <form id="formEmpleados" class="w-100">
                    <div class="form-row ml-3">
                        <div class="form-group mr-2">
                            <label class="font-weight-bold">Búsqueda de empleado</label>
                            <div isteven-multi-select input-model="vm.listaEmpleados.data" output-model="vm.listaEmpleados.select" button-label="nombre" item-label="nombre" tick-property="ticked" max-labels="1" selection-mode="single" on-item-click="vm.getEmpleadosFiltrados(vm.listaEmpleados.select[0].id)" on-reset="vm.getEmpleadosTabla()"></div>
                        </div>
                        <div class="form-group ml-2 mr-2">
                            <label class="font-weight-bold">Departamento</label>
                            <div isteven-multi-select input-model=" vm.listaDepartamentos.data" output-model="vm.listaDepartamentos.select" button-label="nombre" item-label="nombre" tick-property="ticked" max-labels="1" selection-mode="single" on-item-click="vm.getDepartamentoEmpleados(vm.listaDepartamentos.select[0].id)" on-reset="vm.getEmpleadosTabla()"></div>
                        </div>
                        <div class="form-group my-auto pt-2 ml-auto mr-4">
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"><span><i class="fas fa-plus mr-1"></i></span>Nuevo Empleado</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <!--Fin Formulario-->
            <!--Inicio de la tabla que muestra los resultados de la peticion-->
            <div id="table" class="container-fluid mt-4 mx-auto">

                <table class="table  table-hover table-responsive" st-table="vm.lista.disp" st-safe-src="vm.lista.data" st-filtered-collection="vm.lista.filter">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" st-sort="Nombre">Nombre</th>
                            <th scope="col" class="text-center" st-sort="Apellidos">Apellidos</th>
                            <th scope="col" class="text-center" st-sort="Departamento">Departamento</th>
                            <th scope="col" class="text-center" st-sort="Correo">Correo</th>
                            <th scope="col" class="text-center" st-sort="Vacaciones">Vacaciones</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center" st-search="Nombre"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                            <th scope="col" class="text-center" st-search="Apellidos"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                            <th scope="col" class="text-center" st-search="Departamento"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                            <th scope="col" class="text-center" st-search="Correo"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                            <th scope="col" class="text-center" st-search="Vacaciones"><input type="text" class="bg-white text-black text-center border-left-0 border-right-0 border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="empleado in vm.lista.disp">

                            <td class="text-center font-weight-bold">{{empleado.Nombre}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Apellidos}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Departamento}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Correo}}</td>
                            <td class="text-center font-weight-bold">{{empleado.Vacaciones}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="15" class="text-center">
                                <div st-pagination="" st-items-by-page="10"></div>

                            </td>
                        </tr>
                    </tfoot>
                </table>
                @*<button ng-click="vm.excelExport();" ng-show="vm.lista.data.length > 0" class="btn btn-dark pull-right m-l-10">Exportar <i class="glyphicon glyphicon-chevron-right"></i></button>*@
            </div>

            <!--Fin de la tabla-->
        </div>
    </div>

<!--Modal registro empleado-->
<div class="modal fade mt-5" id="myModal" role="dialog" ng-controller="EmpleadosCtrl as vm">
    <div class="modal-dialog">
        <!-- Modal Formulario Registro-->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Formulario de registro</h5>
            </div>

            <form class="m-2" ng-submit="vm.InsertUser()">

                <div  class="form-group">
                    <label class="font-weight-bold"><strong>Email</strong></label>
                    <input type="text" class="form-control input-sm mb-4" ng-model="vm.datosUser.email" placeholder="Email" required>
                    <div class="form-group ml-2 mr-2">
                        <label class="font-weight-bold">TipoUsuario</label>
                        <div isteven-multi-select input-model="vm.TipoUsuario.data" output-model="vm.TipoUsuario.select[0].id_perfil" button-label="tipo_perfil" item-label="tipo_perfil" tick-property="ticked" max-labels="1" selection-mode="single"></div>
                    </div>
                    <button class="btn btn-success btn-sm" type="submit">Enviar Invitacion</button>
                    <button class="btn btn-danger btn-sm" ng-click="vm.close()" data-dismiss="modal">Cerrar</button>

                </div>

            </form>

        </div>
    </div>
</div>
<!--Fin del modal-->
@*<script>
      $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
      });
    </script>*@
