
@{
    ViewBag.Title = "FichajesEmpleados";
}

    <div class="row h-100" ng-controller="FichajesEmpleadosCtrl as vm">
        <div id="aside" class="col-2 p-0 m-0 bg-dark">
            <!--Renderizado de la nav-bar-->
            @Html.Partial("lateral")
        </div>
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <div class="col-4 mr-auto mb-3 mt-2 rounded" isteven-multi-select input-model="vm.listaDropdown" output-model="vm.listaDropdown.select" button-label="nombre" item-label="nombre" tick-property="ticked" max-labels="1" selection-mode="single" on-item-click="vm.getDatosInicioFichajes(vm.listaDropdown.select[0].id)" on-reset="vm.getNombresDropdown()"></div>
            <div id="centralPerfil" class="row m-2 align-items-center pb-3 pt-3">
                <h2>Fichajes</h2>
                <div class="text-center mx-auto">
                    <a class="btn" ng-click="vm.sumarContador()">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <span>
                        <input id="date" class="text-center" placeholder={{vm.fichajesMes[0].mes}} readonly />
                    </span>
                    <a class="btn" ng-click="vm.restarContador()">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
                
            </div>

            <div id="centralDatos" class="row m-2">
                <h2>Jornadas</h2>
                <div class="container" ng-repeat="x in vm.fichajesTotales">
                    <div class="row">
                        <label class="ml-3 font-weight-bold">{{x.fecha}}</label>
                        <label class="ml-auto mr-3 font-weight-bold">Tiempo transcurrido: {{x.computado}}</label>
                    </div>

                    <div class="progress mb-2">
                        <button class="btn progress-bar progress-bar-striped bg-success progress-bar-animated" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width:{{x.porcentaje}}"><span class="mx-auto">{{x.porcentaje}}</span></button>
                    </div>
                    <div id="collapseExample" class="collapse multi-collapse">
                        <table class="table table-hover">
                            <tr ng-repeat="a in x.horas track by $index">

                                <td class="font-weight-bold" ng-show="a!=0"><span ng-class-odd="'odd'" ng-class-even="'even'"><i class="far fa-clock mr-2"></i>{{a}}</span></td>
                            </tr>
                        </table>


                    </div>
                </div>

            </div>



        </div>
    </div>

