
@{
    ViewBag.Title = "FormularioAdmin";
}

<div class="row h-100">
    <div id="aside" class="col-2 p-0 m-0 bg-dark">
        @Html.Partial("lateral")
    </div>
    <br />
    <h4>Formulario de registro</h4>
</div>
<form class="m-2" ng-submit="vm.()">
    <div class="form-row  mr-2 ml-2 ">
        <div class="col-md-6 mb-2">
            <label class="font-weight-bold">Nombre</label>
            <input type="text" class="form-control"  placeholder="Nombre" required>
        </div>
        <div class="col-md-6 mb-2">
            <label class="font-weight-bold">Apellidos</label>
            <input type="text" class="form-control" placeholder="Primer Apellido" required>
        </div>

    </div>
    <div class="form-row  mr-2 ml-2">
        <div class="col-md-6 mb-3">
            <label class="font-weight-bold">Segundo Apellido</label>
            <div class="input-group">

                <input type="text" class="form-control"  placeholder="Segundo Apellido" required>

            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="font-weight-bold">Email</label>
            <input type="text" class="form-control"  placeholder="Email" required>

        </div>

        <div class="col-md-3 mb-3">
            <label class="font-weight-bold">Tipo Usuario</label>
            <div isteven-multi-select input-model="" output-model="" button-label="Tipo Usuario" item-label="Tipo Usuario" tick-property="ticked" max-labels="1" selection-mode="single"></div>

        </div>
        <div class="my-auto pt-2 ml-auto mr-1">
            <button class="btn btn-primary  " type="submit">Enviar Invitacion</button>
        </div>
    </div>

</form>

        </div>

    </div>
</div>




