@{
    ViewBag.Title = "Home Page";
}
@*<div ng-controller="homeCtrl as vm">
        <webapp-loader ng-if="vm.loading"></webapp-loader>
        <div ng-show="!vm.loading">
        </div>
    </div>*@

    <div class="row h-100" ng-controller="FichajesCtrl as vm">
        @*<div id="aside" class="col-2 p-0 m-0 bg-dark">


        </div>*@
        @Html.Partial("lateralSuperior")
        @Html.Partial("lateral")
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <div id="centralPerfil" class="row p-3 m-2 align-items-center pb-3 pt-3">

                <h2>Fichajes</h2>
                <div class="text-center mx-auto">
                    <a class="btn" ng-click="vm.sumarContador()">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <span>
                        <input id="date" class="text-center h6" placeholder={{vm.fichajesMes[0].mes}} readonly />
                    </span>
                    <a class="btn" ng-click="vm.restarContador()">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
                <button id="checkIn" type="button" class="btn btn-success  ml-auto" ng-click="vm.empleadoCheckIn()">Check IN</button>
                <button id="checkOut" type="button" class="btn btn-danger  ml-1" ng-click="vm.empleadoCheckOut()">Check Out</button>

            </div>

            <div id="centralDatos" class="row m-2">
                <div class="col-12">
                    <h2>Jornadas</h2>
                </div>
                <div class="container" ng-repeat="x in vm.fichajesTotales">
                    <div class="row">
                        <label class="ml-3 font-weight-bold">{{x.fecha}}</label>
                        <label class="ml-auto mr-3 font-weight-bold">Tiempo transcurrido: {{x.computado}}</label>
                    </div>

                    <div class="progress mb-2">
                        <button ng-click="vm.drop(x.fecha)" class="btn progress-bar progress-bar-striped bg-success progress-bar-animated" type="button" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="width:{{x.porcentaje}}"><span class="mx-auto">{{x.porcentaje}}</span></button>
                    </div>
                    <div id="{{x.fecha}}" hidden>
                        <table class="table table-hover">
                            <tr ng-repeat="a in x.horas track by $index">

                                <td class="font-weight-bold" ng-show="a!=0"><span ng-class-odd="'odd'" ng-class-even="'even'"><i class="far fa-clock mr-2"></i>{{a}}</span></td>
                            </tr>
                        </table>


                    </div>
                </div>

            </div>



        </div>
    </div>






