
@{
    ViewBag.Title = "Perfil";
}

    <div class="row h-100" ng-controller="PerfilCtrl as vm">
        @*<div id="aside" class="col-2 p-0 m-0 bg-dark">

        </div>*@
        @Html.Partial("lateralSuperior")
        @Html.Partial("lateral")
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <!--Inicio de tipo-->
            <div class="row mb-3 mt-3">
                <h4>Mi configuración</h4>
            </div>
            <!--Fin de tipo-->
            <!--Inicio de cabecera-->
            <div class="row d-block">
                <div class="bg-dark text-white">
                    <h5 class="pl-2 m-0">Datos</h5>
                </div>
                <!--Fin de cabecera-->
                <!--Inicio de nombre-apellido-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formNombreApellidos" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Nombre y Apellidos</h6></a>

                    <input type="text" placeholder="{{vm.session.nombre}} {{vm.session.primer_apellido}} {{vm.session.segundo_apellido}}" class="w-25 ml-4  mb-2 border-0" readonly />
                    <form id="formNombreApellidos" class="collapse multi-collapse ml-2" ng-submit="vm.setUsuario()">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2">
                                <label for="inputText">Nombre</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" placeholder="{{vm.session.nombre}}" class="form-control" ng-model="vm.nombreUsuario.nombre" required>
                                </div>
                            </div>
                            <div class="form-group ml-2">
                                <label for="inputText">Primer Apellido</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" placeholder="{{vm.session.primer_apellido}}" class="form-control" ng-model="vm.nombreUsuario.primer_apellido" required>
                                </div>
                            </div>
                            <div class="form-group ml-2">
                                <label for="inputText">Segundo Apellido</label>
                                <div class="input-group input-group-sm ">
                                    
                                </div>
                            </div>

                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-success btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de nombre-apellido-->
                <!--Inicio del email-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formEmail" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Email</h6></a>
                    <input type="text" placeholder="{{vm.session.usuario}}" class="w-25 ml-4 mt-2 mb-2 border-0" readonly />
                    <form id="formEmail" class="collapse multi-collapse ml-2" ng-submit="vm.setEmail()">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Email</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" placeholder="{{vm.session.usuario}}" class="form-control" ng-model="vm.emailUsuario.email" required>
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-success btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de email-->
                <!--Inicio de contraseña-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formContrasena" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Contraseña</h6></a>
                    <p class="text-left ml-3">¿Quieres que este usuario tenga acceso a la versión web? Introduce una contraseña para que pueda acceder al panel combinándola con su correo electrónico. </p>
                    <input type="password" placeholder="CONTRASEÑA" class="w-25 ml-4 mt-2 mb-2 border-0" readonly />
                    <form id="formContrasena" class="collapse multi-collapse ml-2">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Contraseña</label>
                                <div class="input-group input-group-sm ">
                                    <input type="password" class="form-control" ng-model="vm.pass1">
                                </div>
                            </div>
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Repetir Contraseña</label>
                                <div class="input-group input-group-sm ">
                                    <input type="password" class="form-control" ng-model="vm.pass2">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-success btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de contraseña-->
                <!--Inicio de departamento-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formDepartamento" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Departamento</h6></a>
                    <p class="text-left ml-3">Selecciona a qué departamento pertenece el empleado. Si no tienes añadido ningún departamento, añádelo desde aquí</p>
                    <input type="text" placeholder="{{vm.session.departamentos_nombre}}" class="w-25 ml-4 mt-2 mb-2 border-0" readonly />
                    <form id="formDepartamento" class="collapse multi-collapse ml-2" ng-if="vm.session.id_perfil==1" ng-submit="vm.setDepartamento()">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Departamento</label>
                                <div class="input-group input-group-sm ">
                                    <div isteven-multi-select input-model=" vm.listaDepartamentos.data" output-model="vm.listaDepartamentos.select" button-label="nombre" item-label="nombre" tick-property="ticked" max-labels="1" selection-mode="single" on-item-click="" on-reset=""></div>

                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-success btn-sm" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de departamento-->
                <!--Inicio del tipo de usuario-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formTipoUsuario" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Tipo de usuario</h6></a>
                    <p class="text-left ml-3">Asigna el rol al que pertenece este usuario según los permisos que deseas que tenga. Dependiendo de su rol, el usuario estará capacitado para acceder a determinadas vistas y disfrutar de diferentes funcionalidades.</p>
                    <input type="text" placeholder="{{vm.session.tipo_perfil}}" class="w-25 ml-4 mt-2 mb-2 border-0" readonly />
                    @*<form id="formTipoUsuario" class="collapse multi-collapse ml-2" ng-if="vm.session.id_perfil==1">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Tipo de usuario</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" placeholder="{{vm.session.tipo_perfil}}" class="form-control" ng-model="vm.tipoUsuario">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>*@
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de tipo usario-->

            </div>

            <!--fin del central de perfil-->
        </div>
    </div>
