
@{
    ViewBag.Title = "Perfil";
}

    <div class="row h-100">
        <div id="aside" class="col-2 p-0 m-0 bg-dark">
            @Html.Partial("lateral")
        </div>
        <div id="central" class="col-9 mx-auto bg-white rounded  mt-5 mb-5">
            <!--Inicio de tipo-->
            <div class="row mb-3 mt-3">
                <h4>Mi configuración</h4>
            </div>
            <!--Fin de tipo-->
            <!--Inicio de cabecera-->
            <div class="row d-block">
                <div class="bg-dark text-white">
                    <h5 class="pl-2 m-0">Datos</h5>
                </div>
                <!--Fin de cabecera-->
                <!--Inicio de nombre-apellido-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formNombreApellidos" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Nombre y Apellidos</h6></a>
                    
                    <input type="text" placeholder="NOMBRE APELLIDOS" class="w-25 ml-3  mb-2 border-0" readonly />
                    <form id="formNombreApellidos" class="collapse multi-collapse">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2">
                                <label for="inputText">Nombre</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group ml-2">
                                <label for="inputText">Apellidos</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de nombre-apellido-->
                <!--Inicio del email-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formEmail" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Email</h6></a>
                    <input type="text" placeholder="EMAIL" class="w-25 ml-3 mt-2 mb-2 border-0" readonly />
                    <form id="formEmail" class="collapse multi-collapse">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Email</label>
                                <div class="input-group input-group-sm  ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de email-->
                <!--Inicio de contraseña-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formContrasena" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Contraseña</h6></a>
                    <p class="text-left ml-3">¿Quieres que este usuario tenga acceso a la versión web? Introduce una contraseña para que pueda acceder al panel combinándola con su correo electrónico. </p>
                    <input type="password" placeholder="CONTRASEÑA" class="w-25 ml-3 mt-2 mb-2 border-0" readonly />
                    <form id="formContrasena" class="collapse multi-collapse">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Contraseña</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de contraseña-->
                <!--Inicio de departamento-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formDepartamento" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Departamento</h6></a>
                    <p class="text-left ml-3">Selecciona a qué departamento pertenece el empleado. Si no tienes añadido ningún departamento, añádelo desde aquí</p>
                    <input type="text" placeholder="DEPARTAMENTO" class="w-25 ml-3 mt-2 mb-2 border-0" readonly />
                    <form  id="formDepartamento" class="collapse multi-collapse">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Departamento</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de departamento-->
                <!--Inicio del tipo de usuario-->
                <div class="bg-white pt-2">
                    <a class="btn ml-1 mb-2 text-left d-block" data-toggle="collapse" href="#formTipoUsuario" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h6><i class="fas fa-cogs mr-3"></i>Tipo de usuario</h6></a>
                    <p class="text-left ml-3">Asigna el rol al que pertenece este usuario según los permisos que deseas que tenga. Dependiendo de su rol, el usuario estará capacitado para acceder a determinadas vistas y disfrutar de diferentes funcionalidades.</p>
                    <input type="text" placeholder="TIPO DE USUARIO" class="w-25 ml-3 mt-2 mb-2 border-0" readonly />
                    <form  id="formTipoUsuario" class="collapse multi-collapse">
                        <div class="form-row ml-3 mt-2">
                            <div class="form-group mr-2 w-25">
                                <label for="inputText">Tipo de usuario</label>
                                <div class="input-group input-group-sm ">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group ml-3 my-auto pt-2">
                                <button class="btn btn-primary btn-sm">Guardar</button>
                            </div>
                        </div>
                    </form>
                    <div id="perfilAdmin" class="mx-auto mt-2"></div>
                </div>
                <!--Fin de tipo usario-->

            </div>

            <!--fin del central de perfil-->
        </div>
    </div>
