<!-- Navigation Bar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark static-top m-0" id="nav3">
        <!-- Brand -->
        

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            

            <!-- Dropdown -->
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle mr-2" href="#" id="navbardrop" data-toggle="dropdown">
                    <strong class="text-white"><i class="far fa-user-circle mr-1"></i>{{vm.session.nombre}} {{vm.session.primer_apellido}} {{vm.session.segundo_apellido}}</strong>
                </a>
                <div class="dropdown-menu bg-dark dropdown-menu-md-right border-white">
                    
                    <a class="dropdown-item bg-dark text-white" target="_self" href="@Url.Action("Logout", "Account")">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </nav>
<!-- End Navigation Bar-->