
@{
    ViewBag.Title = "lateral";
}

    <nav id="aside" class="navbar bg-dark text-white">

        <div  class="col-12 mx-auto mb-3 mt-2 rounded" isteven-multi-select input-model="" output-model="" button-label="" item-label="" tick-property="ticked" max-labels="1" selection-mode="single"></div>
        
        <p class="w-100 m-0">
            <strong>Acciones</strong>
        </p>
        <ul class="navbar-nav mx-auto mb-2">

            <li class="nav-item">
                <a class="nav-link text-white" role="button" target="_self" href="@Url.Action("Perfil", "Home")">Mi Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" role="button" target="_self" href="@Url.Action("Index", "Home")">Mis Fichajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" role="button" target="_self" href="@Url.Action("Vacaciones", "Home")">Mis vacaciones</a>
            </li>

        </ul>
        
        <p class="w-100 m-0">
            <strong>Empresa</strong>
        </p>
            <ul class="navbar-nav mx-auto mb-2">

                <li class="nav-item">
                    <a class="nav-link text-white" role="button" target="_self" href="@Url.Action("Empleados", "Home")">Empleados</a>
                </li>

            </ul>
        
    </nav>
   