
@{
    ViewBag.Title = "forgotPass";
}

<link href="~/Content/Site2.css" rel="stylesheet" />

<!--===============================================================================================-->
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown" ng-controller="loginInicioCtrl as vm">
    <div id="formContent">



        <!-- logo empresa -->
        @*<div class="fadeIn first">
            <img src="~/images/logo.png" id="icon" alt="User Icon" />
        </div>*@

        <!-- formulario acceso -->
        <label class="font-weight-bold"> restablece tu contraseña</label>
        <form ng-submit="vm.resetPass()" class="mt-2">
            <input type="password" id="user" class="fadeIn second" name="pass" placeholder="Password" ng-model="vm.pass.pass1">
            <input type="password" id="password" class="fadeIn third" name="repeatpass" placeholder="Repeat Password" ng-model="vm.pass.pass2">
            <input type="text" class="fadeIn third"  placeholder="Codigo" ng-model="vm.pass.codigo">

            <input type="submit" class="botonlogin" value="Restablecer" ladda="vm.loading">
        </form>

        <!-- recordar contraseña -->
        



    </div>
</div>

