
@{
    ViewBag.Title = "forgotPass";
}

<link href="~/Content/Site2.css" rel="stylesheet" />

<!--===============================================================================================-->
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">



        <!-- logo empresa -->
        @*<div class="fadeIn first">
            <img src="~/images/logo.png" id="icon" alt="User Icon" />
        </div>*@

        <!-- formulario acceso -->
        <form ng-submit="" class="mt-2">
            <input type="text" id="user" class="fadeIn second" name="pass" placeholder="Password" ng-model="">
            <input type="password" id="password" class="fadeIn third" name="repeatpass" placeholder="Repeat Password" ng-model="">
            <input type="submit" class="botonlogin" value="Log In" ladda="vm.loading">
        </form>

        <!-- recordar contraseña -->
        



    </div>
</div>

