
@{
    ViewBag.Title = "forgotPass";
}

<link href="~/Content/Site2.css" rel="stylesheet" />

<!--===============================================================================================-->


<div class="wrapper fadeInDown" ng-controller="loginInicioCtrl as vm">
    <div id="formContent">




        <div class="fadeIn first mt-4 mb-2">
            <img src="~/images/logo.png" id="icon" alt="User Icon" />
        </div>
        <!-- recordar contraseña -->
        <h5 class="mt-3">Restablece tu contraseña</h5>
        <form ng-submit="vm.resetPass()" class="mt-2">
            <input type="password" id="user" class="fadeIn second" name="pass" placeholder="Password" ng-model="vm.pass.pass1">
            <input type="password" id="password" class="fadeIn third" name="repeatpass" placeholder="Repeat Password" ng-model="vm.pass.pass2">
            <input type="text" class="fadeIn third" placeholder="Codigo" ng-model="vm.pass.codigo">

            <input type="submit" class="botonlogin" value="Restablecer" ladda="vm.loading">
        </form>






    </div>
</div>

